section,
mat-card-title-group {
  padding-block: 0.5rem;
}
.contenidor {
  display: flex;
  align-items: center;
}
.contenidor-buttons {
  justify-content: right;
}

.contenidor-spinner {
  justify-content: center;
}

h1 {
  text-align: center;
}

a {
  font-size: 1.2rem;
  font-weight: bold;
  color: #001730;
  text-decoration: none;
}

a:hover {
  font-size: 1.2rem;
  font-weight: bold;
  color: #001730; /* Cambia el color al pasar el mouse (un tono más oscuro) */
  text-decoration: underline; /* Subrayado al pasar el mouse */
}

.item-list {
  background: rgb(230, 233, 235);
}

img {
  width: 70px;
  height: auto;
}
