<div class="container mt-5">
  <section class="contenidor contenidor-spinner">
    <app-spinner [loading]="loading"></app-spinner>
  </section>
  <div class="row animate__animated animate__bounce animate__fadeIn">
    <div class="col-md-9 pb-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>
              {{pokemon.id}} - <strong> {{pokemon.name | titlecase }}</strong>
            </mat-card-title><img mat-card-md-image src="{{pokemon.url_icon}}" alt="Icona de {{pokemon.name}}">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel (opened)="panelState = true" (closed)="panelState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Característiques de {{pokemon.name | titlecase }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="d-flex flex-row justify-content-between">
                <div>
                  <p><strong>Tipus:</strong> {{pokemon.type}}</p>
                  <p><strong>Experiència bàsica:</strong> {{pokemon.base_experience}}</p>
                  <p><strong>Altura:</strong> {{pokemon.height / 10}} m</p>
                  <p><strong>Pes:</strong> {{pokemon.weight / 10}} kg</p>
                  <p><strong>Habilitat:</strong> {{pokemon.ability}}</p>
                  <p><strong>Hab. oculta:</strong> {{pokemon.hidden_ability}}</p>
                </div>
                <div>
                  <img mat-card-lg-image src="{{pokemon.url_imatge}}" alt="Foto de {{pokemon.name}}">
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3">
      <a routerLink="/" class="btn btn-danger"> Back</a>
    </div>
  </div>
</div>